* {
    margin: 0;
    padding: 0;
}

#landing {
    padding: 32px 0;
}

.container {
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    align-items: center;
}

.type {
    margin: 24px 0;
}

.type__title {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.equality__types {
    display:flex;
    flex-direction: column;
}