* {
    margin: 0;
    padding: 0;
    background-color: #f3ebfa;
    color:#42007c
}

#landing {
    padding: 32px 0;
}

.container {
    padding: 0 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.section__title {
    font-size: 32px;
    padding-bottom: 12px;
}

.type {
    margin: 24px 0;
}

.type__title {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.equality__types {
    display:flex;
    flex-direction: column;
}

.conditional {
    margin: 24px 0;
    
}

.conditional__title {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.loop__title {
 padding-bottom: 12px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;   
}

